html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size:100%;
	font:inherit;
	border:0;
	vertical-align: baseline;
}

title {
	font-family:'Rancho',cursive;
}

#navbar {
	position: fixed;
	width: 100%;
	height: 2em;
	background-color: black;
	margin: 0;
	text-align: center;
	padding-top:10px;
}

ul {
	list-style-type: none;
	display: inline;
	text-align: center;
}

li {
	display: inline;
	color: white;
	font-family: 'Gudea', sans-serif;
	padding: 20px;
}

#banner {
	margin-right: auto;
	margin-left: auto;
	width:100%;
}

#bannerpic {
	width: 100%;
	height:450px;
}

h1 {
	font-family: 'Rancho', cursive;
	text-align: center;
	font-size:2.5em;
}

#content {
	width:100%;
	width:1100px;
	margin-left: auto;
	margin-right:auto;
}
#content > p {
	font-family: 'Gudea', sans-serif;
}

#Jasmine {
	display:block;
	margin:auto;
    height: auto;
	width:1000px;
}

/* media queries */


@media screen and (min-width:768px) and (max-width: 1200px) {
	#content {
		width:93%;
	}

	#bannerpic {
		height:450px;
		width:100%;
	}

	#Jasmine {
		max-width: 768px;
		min-width:auto ;
	}

	p {
		font-size:100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	#content {
		width:93%;
	}

	#bannerpic {
		height: 300px;
		width:100%;
	}

	#Jasmine {
		max-width:480px;
		min-width:auto;
	}

	h1 {
		font-size:2em;
	}

	p {
		font-size:100%;
	}
}

@media screen and (max-width: 480px) {
	#bannerpic {
		width: 100%;
		height:150px;
	}

	#content {
		width:93%;
	}

	#Jasmine {
		display: none;
	}

	li {
		padding:5px;
		font-size: 95%;
	}

	p {
		font-size:95%;
	}

	h1 {
		font-size: 1.7em;
	}
}

